body {
  background-image: url("images/endurance-exercise-female-40751.jpg");
  background-size: cover;
  height: 100vh;
  color: #333333;
  margin-top: 5rem;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h2{
  font-size: 1.8em;
}

.bg-steel {
  background-color: #280501;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgb(255,255,255);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.calendar-cell {
  height: 160px;
  background: rgba(255,255,255,0.8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.calendar-date{
  color: red;
  text-align: center;
}

.run-description{
  padding-bottom: 1px;
  margin-bottom: 4px;
  color: red;
  text-align: center;
  font-size: 15px;
}

.single-info{
  background: rgb(255,255,255,0.8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.single-info-header{
  margin-bottom: 40px;
  text-align: center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}



.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Merienda', cursive;
}

.nav-item-border {
  border-right: 1px solid #ffffff;
}



.title-page {
  margin: 0 auto;
}

.center-align {
  text-align: center;
}