body {
  background-image: url("images/endurance-exercise-female-40751.jpg");
  background-size: cover;
  height: 100vh;
  color: #333333;
  margin-top: 5rem;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h2{
  font-size: 1.8em;
}

.bg-steel {
  background-color: #280501;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgb(255,255,255);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.calendar-cell {
  height: 160px;
  background: rgba(255,255,255,0.8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.calendar-date{
  color: #ca2a2a;
  text-align: center;
}

.run-description{
  padding-bottom: 1px;
  margin-bottom: 4px;
  color: red;
  text-align: center;
  font-size: 15px;
}

.run-description-date{
  color: #ca2a2a;
}

.single-info{
  background: rgb(255,255,255,0.8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment-section{
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mt-50{
  margin-top: 50px;
}

.single-comment{
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}

.comment{
  display: inline;
}

.page-center{
  margin-top: 30%;
}

.single-info-header{
  margin-bottom: 40px;
  text-align: center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  text-decoration: none;
}

article.calendar-cell:hover {
  transform: scale(1.05);
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.comment-img {
  height: 40px;
  width: 40px;
  margin: 8px;
  float: left;
  margin-bottom: 50px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}



.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
}

.account-heading {
  font-size: 2.5rem;
}

.account-heading:hover {
  color: #767676;
}


.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Merienda', cursive;
}




.title-page {
  margin: 0 auto;
}

.center-align {
  text-align: center;
}

.inline{
  display: inline;
}

.btn {
    border: 1px solid black;
    background-color: inherit;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.info {
    border-color: #ca2a2a;
    color: #ca2a2a;
}

.info:hover {
    background: #ca2a2a;
    color: white;
}

.update {
    border-color: #5299f1;
    color: #5299f1;
}

.update:hover {
    background: #5299f1;
    color: white;
}

.complete {
    border-color: #10af2b;
    color: #10af2b;
}

.complete:hover {
    background: #10af2b;
    color: white;
}

.btn-small {
    background-color: inherit;
    color: black;
    padding: 8px 16px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.light {
    border: 1px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.8);
}

.light:hover {
    background: rgba(255,255,255,0.7);
    text-decoration: none;
}

.outline-light {
    border: 1px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
}

.outline-light:hover {
    background: rgba(255,255,255,0.8);
    text-decoration: none;
}

.no-underline:hover{
  text-decoration: none;
}

.gallery-margin{
  margin: 5px;
}

.something{
  display: inline;
  overflow: hidden;
}

.workout-img{
  margin-bottom: 5px;
  height: 150px !important;
  background-color: inherit;
  border: none;
}
