{% extends "layout.html" %} 
{% block content %}
    <div class="row">
        <div class="col-md-8">
        <div class="single-info">
            <h2 class="run-description-date mb-30">Account Info</h2>
            <div class="row">
                <div class="col-12 col-md-8">
                    <form method="POST" action="", enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.username.label(class='form-control-label') }} {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors%}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.username(class='form-control form-control-lg') }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class='form-control-label') }} {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors%}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.email(class='form-control form-control-lg') }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class='btn info') }}
                            </div>
                        </fieldset>
                </div>
                <div class="col-12 col-md-4">
                    <img class="rounded-edges account-img mb-4" src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}">
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors%}
                                <span class='text-danger'>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
            
            
            
    </div>
{% endblock %}