{% extends "layout.html" %}
{% block content %}
    <h1>Following Route</h1>
    <div class="row">
        {% for user in users %}
            <div class="col-md-12">
                <div class="content-section">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{url_for('static', filename='profile_pics/' + user.image_file)}}">
                        <div class="media-body">
                            <a href="{{url_for('view_user', username=user.username)}}"><h2 class="account-heading">{{ user.username }}</h2></a>
                            {% if current_user.is_following(user)%}
                                <p><a href="{{url_for('unfollow', username=user.username)}}">Unfollow this User</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
            
    
    
{% endblock content %}