{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="single-info">
                <form method="POST" action="">
                    {{form.hidden_tag()}}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.search.label(class='form-control-label') }}
                            {% if form.search.errors %}
                                {{ form.search(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.search.errors%}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.search(class='form-control form-control-lg') }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class='btn info') }}
                    </div>
                </form>
            </div>    
            <div class="row">
                {% for user in users %}
                    <div class="col-md-4 col-12">
                        <div class="calendar-cell">
                            <div class="follow-info">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="rounded-circle comment-img" src="{{url_for('static', filename='profile_pics/' + user.image_file)}}">
                                    </div>
                                    <div class="col-8">
                                        <a href="{{url_for('view_user', username=user.username)}}" class="no-underline"><h2 class="account-heading">{{ user.username }}</h2></a>
                                        {% if current_user.is_following(user)%}
                                            <p><a class="unfollow" href="{{url_for('unfollow', username=user.username)}}">Unfollow this User</a></p>
                                        {% endif %}
                                    </div>   
                                </div>    
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
            
    
    
{% endblock content %}