{% extends "layout.html" %} 
{% block content %}
    <div class="single-info">
        <div class="media">
            <img class="rounded-circle account-img" src="{{url_for('static', filename='profile_pics/' + user.image_file)}}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                {% if current_user.is_following(user)%}
                <p><a href="{{url_for('unfollow', username=user.username)}}">Unfollow this User</a></p>
                {% else %}
                <p><a href="{{url_for('follow', username=user.username)}}">Follow this User</a></p>
                {% endif %}
                <p><a href="{{url_for('view_user', username=user.username)}}">View upcoming workouts</a></p>
            </div>
        </div>
    </div>
    {% include 'workouts_display.html' %}
    {% for page_num in workouts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if workouts.page == page_num %}
                <a class="btn-small light mb-4" href="{{ url_for('view_user_completed', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn-small outline-light mb-4" href="{{ url_for('view_user_completed', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}