<div class="row">
    {% for workout in workouts.items %}
        <div class="col-md-4 col-sm-12">
            <a class="article-title" href="{{ url_for('workout', workout_id=workout.id) }}">
                <article class="media calendar-cell">
                    <div class="media-body">
                        <div class="calendar-date">
                            <p>{{workout.target_date.strftime('%b %d %Y')}}</p>
                        </div>
                        <div class="run-description">
                            <h2>{{workout.workout_distance}}{{workout.distance_unit}} {{workout.workout_type}}</h2>
                        </div>
                    </div>
                </article>
            </a>
        </div>
    {% endfor %}
</div>