{% extends "layout.html" %} 
{% block content %}

    <article class="media single-info">
        <div class="media-body">
            <div>
                <p class="run-description-date">{{ workout.target_date.strftime('%Y-%m-%d') }}</p>
            </div>
            <h2 class="article-title">{{workout.workout_distance}}{{workout.distance_unit}} {{workout.workout_type}}</h2>
            <p class="article-content">{{ workout.description }}</p>
            {% if workout.user_id == current_user.id %}
                <div>
                    <a class="btn update btn-sm mt-1 mb-1" href="{{url_for('update_workout', workout_id=workout.id)}}">Update</a>
                    <button type="button" class="btn info btn-sm mt-1 mb-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    {% if workout.completed == False%}
                    <form method="POST" action="" class="inline">
                        {{completed_form.hidden_tag()}}
                        {{ completed_form.submit(class='btn complete btn-sm mt-1 mb-1') }}
                    </form>
                    {% else %}
                    <form method="POST" action="", enctype="multipart/form-data" class="mt-4">
                        {{photo_form.hidden_tag()}}
                        <div class="form-group">
                            {{ photo_form.picture.label() }}
                            {{ photo_form.picture(class="form-control-file") }}
                            {% if photo_form.picture.errors %}
                                {% for error in photo_form.picture.errors%}
                                    <span class='text-danger'>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ photo_form.upload(class='btn complete') }}
                        </div>
                    </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </article>
    
    {% for photo in photos %}
        <img src="{{url_for('static', filename='workout_pics/' + photo.image_file)}}" width="200" class="img-thumbnail"></img>
    {% endfor %}
    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this workout?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_workout', workout_id=workout.id )}}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}