{% extends "layout.html" %}
{% block content %}
    {% for workout in workouts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#"></a>
                    <small class="text-muted">{{workout.target_date}}</small>
                </div>
                <h2><a class="article-title" href="#">{{workout.workout_type}}</a></h2>
                <p class="article-content">{{workout.description}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}